
.nosotros {
    margin: 6rem auto;
    
 }
 
 .nosotros p {
     font-size: 20px;
 }
 
 .nosotros-img {
     display: flex;
     
 }
 
 
 .nosotros-img img {
     width: 256px;
     height: 287px;
     margin: auto;
 }
 
 .nosotros-img .first-item {
     width: 175px;
     height: 216px;
     margin-left: 110px;
 }
 
 .nosotros-img .second-item {
     margin-top: 3rem;
 }
 
 .nosotros-img .third-item {
     margin-top: -90px;
     margin-left: 30px;
 
 }
 
 .nosotros h4 {
     margin-top: 50px;
 }
 
 .nosotros span {
     font-size: 3rem;
     font-weight: 800;
     color: var(--blanco);
     background-color: #000;
     padding: 20px;
 }
 
 @media (max-width: 480px) {
 
     .nosotros {
         margin: 20px;
     }
 
     .nosotros-img {
         transform: scale(0.6);
         margin-right: 5rem;
 
     }
 
     .nosotros-img .first-item {
         margin-left: -33px;
         margin-top: -50px;
     }
 
 
     .nosotros-img .third-item {
         margin-left: -115px;
         margin-top: -150px;
     }
 
 }