
.nosotros {
    margin: 6rem auto;
    
 }
 
 .nosotros p {
     font-size: 20px;
 }

 .descripcion-nosotros {
    margin-top: 30px;
 }
 
 .nosotros h4 {
     margin-top: 50px;
 }
 
 
 @media (max-width: 900px) {
    .nosotros {
        margin-top: 0px;
        padding-top: 150px;
    }

    .nosotros img {
        margin-top: 50px;
    }
 }
  
 @media (max-width: 480px) {
 
     .nosotros {
         margin: 20px;
         margin-top: 0;
     }
 
    
 }