

.banner-final {
    background-image: url(/public/img/BannerFinal.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 150px;
    text-align: center;
    width: 100%;
}

.container-banner {
    width: 50%;
    margin: auto;
}

.banner-final h1 {
    color: var(--color-principal);
    font-weight: 600;
    font-size: 3rem;
    
}

.banner-final p {
    margin: 20px 0;
    text-align: left;
    font-weight: 500;
    font-size: 18.5px;
}

.banner-links {
    margin-left: 30%;
    transform: scale(1.1);
}

@media (max-width: 480px) {

    .container-banner {
        width: 95%;
        height: 200px;
    }
    .banner-final {
        background-size: cover;
        background-position: 40%;
    }
   
    .banner-links {
        margin-left: 15%;
    }
    .banner-final h1 {
        margin-bottom: 50px;
        font-size: 2rem;
    }
    .banner-final p {
        font-size: 15px;
        text-align: center;
    }
}
