

.banner-final {
    background-image: url(/public/img/BannerFinal.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border-radius: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    height: 450px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 11;
}

.container-banner {
    width: 80%;
    margin: auto;
}

.banner-final h1 {
    color: var(--color-principal);
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 50px;
}

.botones-banner {
    justify-content: center;
}

@media (max-width: 480px) {

    .container-banner {
        width: 95%;
        height: 200px;
    }
    .banner-final {
        background-size: cover;
        background-position: 40%;
        height: 350px;
        padding-bottom: 20px; 
    }
   
    .banner-final h1 {
        margin-bottom: 30px;
        font-size: 2rem;
        margin: auto 10px;
    }

}

