
.inicio {
    background-image: url(/public/img/BannerInicio.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.inicio .titulo {
    margin-bottom: 40px;
}

.banner-inicio {
    padding: 13rem 0 350px;
    width: 80%;
    margin: auto;
}

.texto-desc {
    width: 580px;
    font-weight: 500;
    font-size: 1.3rem;
    margin-bottom: 40px;
}

.imagen-inicio {
    display:  none;
}

@media (max-width: 1400px) { 
    .inicio {
        background-size: 120%;
    }
    .banner-inicio {
        padding: 10rem 0 350px;
    }
}

@media (max-width: 900px) { 
    .inicio {
        background: none;
    }
    .inicio .titulo {
        text-align: center;
    }
    .texto-desc {
        text-align: center;
    }
    
    .imagen-inicio {
        display:  inline;
        width: 100%;
    }
    .banner-inicio {
        padding-bottom: 3rem;
    }
}



@media (max-width: 480px) {
    .inicio {
        background-image: none;
        padding-top: 100px;
    }
 
    .inicio .titulo {
        font-size: 1.8rem;
    }

    .banner-inicio {
        padding: 1rem 20px 1rem ;
        margin: 0;
        width: 100%;
    }

    .texto-desc {
        width: auto;
        font-size: 0.93rem;
    }

    
  }
