

.lista-alarmas {
    margin-top: -11rem; 
    margin-bottom: 100px;
    
}

.item-alarma {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 250px;
    height: 400px;
    padding: 3rem 1.5rem;
    background-color: var(--color-principal);
    border-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     
}

.item-alarma .titulo-alarma {
    font-size: 1.5rem;
    color: var(--blanco);
    font-weight: 700;
    margin: 1.1rem auto;
}

.item-alarma p {
    width: 90%;
    margin: 30px auto;
}

.item-alarma img {
    width: 80px;
}

.item-alarma a {
    text-align: center;
    margin: 0;
}


@media (max-width: 480px) {

    .lista-alarmas {
        margin-top: 2rem; 
    }


    /* .item-alarma {
        margin: 30px auto; 
        width: 90%;
        height: 400px;
    } */

}