
.container-seguridad .titulo {
    margin-top: 17rem;
}

.texto-casas {
    width: 580px;
    font-weight: 500;
    font-size: 1.3rem;
    
}

.container-casas {
   padding: 2rem;
   width: 100%;
}

.item-casa {
    background-color: var(--color-principal);
    text-align: center;
    height: 350px;
    width: 200px;
    margin: 1rem;
    border-radius: 15px;
}

.item-casa img {
    margin-top: 40px;
}

.item-casa-titulo {
    color: white;
    font-weight: bold;
    margin: 20px;
}

.item-casa-texto {
    color: white;
    font-size: 0.8rem;
    padding-left: 30px;
    padding-right: 30px;
} 

@media (max-width: 900px) {
    .container-seguridad .titulo {
        margin-top: 0;
    }
    .item-casa {
        height: 300px;
    }
}

@media (max-width: 480px) {
    .container-seguridad .titulo {
        font-size: 1.9rem;
        
    }

    .texto-casas {
        width: 95%;
        font-size: 0.93rem;
        line-height: 27px;
        margin: 20px auto;
    }

    .container-casas {
        /* padding-top: 10px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        margin-top: 20px; */
    }

    .item-casa {
        height: 270px;
    }

    .item-casa p {
        
    }
    .item-casa-titulo {
        
    }

    .item-casa img {
        margin-top: 25px;
    }

}