
/* Form Input */

.form-label {
    font-weight: 700;
    margin-top: 15px;
    margin-left: 13%;
}

.form-input {
    margin: 5px auto;
    width: 75%;
    padding: 10px;
    border: 2px solid var(--color-secundario-claro);
}

textarea {
    resize: none;
    height: 150px;
}

.btn-submit {
    color: var(--blanco);
    background-color: var(--color-secundario-claro);
    font-weight: 700;
    padding: 10px 20px;
    margin: 15px 2% 15px 14%;
    
}

@media (max-width: 900px) { 
    form {
        padding-top: 100px;
    }
}

.title-pasos {
    color: var(--color-principal);
    font-weight: 600;
    text-align: center;
    font-size: 2rem;
    margin-top: 30px;
}

.title-paso {
    color: var(--color-secundario);
    font-weight: bold;
    margin: auto 10px;
}

.text-paso {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}

.pasos {
    background-color: #e3e8fe;
    border-radius: 20px;
    padding-top: 15px;
    padding-left: 15px;
    margin: 20px auto;
}

.pasos img {
    width: 40px;
}

.pasos .paso1 {
    width: 30px;
}

.mensaje_enviado{
    background-color: #d4edda; /* Color de fondo */
    border: 1px solid #28a745; /* Borde verde */
    border-radius: 8px; /* Bordes redondeados */
    padding: 1px; /* Espaciado interno */
    text-align: center; /* Centrar el contenido */
    margin-top: 15px; /* Margen superior para separar del botón */
    margin-left: 0px;
    margin-right: 300px;
    margin-bottom: 15px;

    font-weight: bold;
    font-size: 25px;
    color: #28a745;
}

@media (max-width: 1366px) { 
    .mensaje_enviado {
        margin-right: 80px;
    }
}

@media (max-width: 600px) { 
    .mensaje_enviado {
        margin-right: 60px;
    }
}