
.banner-contrata {
    width: 1500;
    height: 450;
    color: white;
    text-align: center;
    background-color: var(--color-principal);
    padding: 5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
    margin: 100px 0;
    
}

.banner-titulo {
    font-size: 3.2rem;
    margin-bottom: 50px;
}

.boton_contrata {
    background-color: var(--color-background);
    color: var(--color-principal);
    justify-items: center;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 5px;
}

@media (max-width: 900px) {
    
}

@media (max-width: 480px) {

    .banner-contrata {
        padding-top: 50px;
        padding-left: 20px;
        padding-bottom: 50px;
        padding-right: 20px;
    }

    .banner-titulo {
        font-size: 2rem;
    }

    .boton_contrata {
        font-size: 1rem;
    }
}

@media (max-width: 375px) { 
    .boton_contrata {
        font-size: 0.9rem;
    }
}