
.banner-contrata {
    width: 1500;
    height: 450;
    color: white;
    text-align: center;
    background-image: url('/public/img/edificios-azul.png');
    background-size: cover;
    background-position: center;
    padding: 5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.banner-titulo {
    font-size: 3.2rem;
}

.banner-texto {
    width: 800px;
    margin: 1.8rem auto;
}

.boton_contrata {
    background-color: var(--color-background);
    color: var(--color-principal);
    justify-items: center;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 5px;
}

@media (max-width: 900px) {
    .banner-texto {
        width: 90%;
    }
}

@media (max-width: 480px) {

    .banner-contrata {
        padding-top: 50px;
        padding-left: 20px;
        padding-bottom: 50px;
        padding-right: 20px;
    }

    .banner-titulo {
        font-size: 2.5rem;
    }

    .boton_contrata {
        font-size: 1rem;
    }
}