

.container-func {
    margin: 100px auto;
    
}

.funcionamiento-title {
    position: absolute;
    color: var(--color-principal);
    font-weight: bold;
    font-size: 50px;
    height: 200px;
    width: 290px;
}

.func-monitoreo {
    padding: 25px 35px;
    margin: 30px 40px;
}


@media (max-width: 1200px) { 
    .funcionamiento-title {
        position: initial;
    }
}

@media (max-width: 480px) {
    .func-monitoreo {
        padding: 10px;
    }

}

.desc-monitoreo {
    border: 5px solid var(--color-principal);
    padding: 20px 30px 5px;
    margin: 30px 40px;
}

.circulo-blanco {
    width: 90px;
    border: 5px solid var(--color-principal);
    border-radius: 50px;
    margin-top: -80px;
}

.desc-title {
    color: var(--color-secundario);
    font-weight: 700;
    margin-top: 20px;
    font-size: 25px;
}

.desc-texto {
    font-size: 17px;
    font-weight: 500;
}

.size-mon {
    height: 240px;
}

@media (max-width: 500px) { 
    .desc-monitoreo {
        margin-top: 60px;
    }
}