:root {
    --color-principal: #1A1E57;
    --color-secundario: #5079F2;
    --color-secundario-claro: #6878A6;
    --color-background: #f5f7ff;
    --blanco: white;
    --fuente-principal: 'Poppins', sans-serif
}

@media (max-width: 480px) {
}
 
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--fuente-principal);
    font-size: 15; 
}

.celeste {
    color: var(--color-secundario);
}