:root {
    --color-principal: #1A1E57;
    --color-secundario: #5079F2;
    --color-secundario-claro: #6878A6;
    --color-background: #f5f7ff;
    --blanco: white;
    --fuente-principal: 'Poppins', sans-serif
}

@media (max-width: 480px) {

}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--fuente-principal);
    font-size: 15;
  }

.celeste {
    color: #5079F2;
}

  /* NAVBAR */

.logo {
    width: 200px;
}

nav {
    background-color: white;
}

.nav-link {
    color: #1A1E57;
    font-weight: bold;
    font-size: 1rem;
    margin-right: 10px;
    text-align: right;
}

.nav-button {
    color: white;
    background-color: #1A1E57;
    border-radius: 5px;
    padding: auto 2rem;
}

.link-button {
    color: white;
    background-color: #5079F2;
    padding: 0.7rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 5px;
}

.nav-items {
    display: flex;
    justify-content: end;
}

#llamanos {
    color: white;
}

 /* NAVBAR FIN */

/* HOMEPAGE */

.inicio {
    background-image: url(/public/img/BannerInicio.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-inicio {
    padding: 13rem 0 350px ;
}

.titulo {
    font-weight: bold;
    font-size: 3rem;
    color: #1A1E57;
}

.banner-inicio p {
    width: 525px;
    font-weight: 500;
    font-size: 18px;
}

.mouse {
    width: 20px;
    margin: 5px;
}

.imagen-inicio {
    display:  none;
}

@media (max-width: 480px) {

    .banner-inicio {
        padding: 1rem 20px 1rem ;
    }

    .banner-inicio h1{
        font-size: 2.5rem;
    }

    .banner-inicio p {
        width: auto;
    }

    .imagen-inicio {
        display:  inline;
        width: 100%;
    }
  }


/* PRODUCTOS ALARMA */

.lista-alarmas {
    margin-top: -4rem; 
}

.item-alarma {
    margin: 0 auto;
    width: 260px;
    height: 480px;
    text-align: center;
    padding: 3rem 1.5rem;
    background-color: var(--color-background);
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}

.item-alarma .titulo-alarma {
    font-size: 1.5rem;
    color: #1A1E57;
    font-weight: 700;
    margin: 1.1rem auto;
}

.item-alarma p {
    width: 90%;
    margin: 30px auto;
}

.item-alarma img {
    width: 100px;
    margin: 10px;
}

.item-alarma a {
    text-align: center;
}

@media (max-width: 480px) {

    .item-alarma {
        margin: 20px auto;
    }

}

/* ITEM CASA */

.titulo-casas {
    font-weight: 700;
    font-size: 3.3rem;
}

.container-casas {
   padding: 3rem;
}

.item-casa {
    background-color: #1A1E57;
    text-align: center;
    height: 350px;
    width: 250px;
    margin: 1rem;
    border-radius: 15px;
}

.item-casa img {
    margin-top: 30px;
}

.item-casa-titulo {
    color: white;
    font-weight: bold;
    margin: 20px;
}

.item-casa-texto {
    color: white;
    font-size: 0.8rem;
    
}

@media (max-width: 480px) {

    .container-casas {
        padding: 0;
    }

    .item-casa {
        margin: 20px auto;
        height: 300px;
        width: 80%;
    }

    .item-casa p {
        font-size: 0.9rem;
    }

}

/* BANNER CONTRATA */

.banner-contrata {
    width: 1500;
    height: 450;
    color: white;
    text-align: center;
    background-image: url('/public/img/edificios-azul.png');
    background-size: cover;
    padding: 4rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.banner-titulo {
    font-size: 3.2rem;
}

.banner-texto {
    width: 800px;
    margin: 1rem auto;
}

.banner-button {
    background-color: white;
    color: #1A1E57;
}

#banner-button {
    color: #1A1E57;
}

@media (max-width: 480px) {

    .banner-titulo {
        font-size: 2.5rem;
    }

    .banner-texto {
        width: auto;
    }

    .banner-button {
        text-align: center;
    }

}

/* FAQ */

 .App {
    text-align: center;
  }
 
  .question-section {
    background: var(--color-background);
    color: #1A1E57;
    border-color: transparent;
    border-radius: 8px;
    
    cursor: pointer;
    width: 100%;
    /* padding: 10px; */
    padding-top: 15px;
  }
  
  .question-align {
    align-items: center;
    display: flex;
    min-height: 10px;
    text-align: left;
    max-width: 1000px;
  }
  
  .question-align h4 {
    margin-left: 8px;
  }
  
  .question-styling {
    font-size: 17px;
    width: 100%;
  }

  .question-icon {
    background: none;
    border: none;
    color: #1b6aae;
    cursor: pointer;
    font-size: 22px;
    width: 40px;
    
    margin-left: auto;
    margin-right: 8px;
    margin-bottom: 10px;
  }

  .rotate {
    transform: rotate(45deg);
  }
  
  
  .answer-divider {
    border-top: 1px solid var(--blanco);
    
  }
  
  .answer {
    padding-top: 10px;
    margin-left: 8px;
    margin-right: 8px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease;
    text-align: left;
  }

.faqs-info {
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 50%;
    color: var(--color-principal);
}

@media (max-width: 480px) {
    .faqs-info {
        width: 90%;
    }
}

.faqs-title {
    font-weight: 600;
    font-size: 3.5rem;
}

.faqs-text {
    font-size: 1.3rem;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
}

.question {
    margin-top: 15px;
}


/* FOOTER */

.footer {
    background-color: var(--color-principal);
    color: var(--blanco);
    padding-top: 80px;
    padding-bottom: 80px;
}

.footer-title {
    font-weight: bold;
}

.footer-hr {
    width: 110px;
    margin: 0.5rem 0;
    border-top: 5px solid var(--color-secundario);
    border-radius: 10px;
    opacity: 1;
  }

.footer-link {
    display: block;
    text-decoration: none;
    color: #A6A292;
    padding-top: 20px;
}



/* PAGINA MONITOREO */

.banner-monitoreo {
    background-color: var(--color-background);
}

/* Seccion Funciona */

.container-func {
    margin: 100px auto;
}

.funcionamiento-title {
    /* position: absolute; */
    color: var(--color-principal);
    font-weight: bold;
    font-size: 50px;
    height: 200px;
    width: 290px;
}

.func-monitoreo {
    padding: 25px 35px;
    margin: 30px 40px;
}

@media (max-width: 480px) {
    .func-monitoreo {
        padding: 10px;
    }

}

.desc-monitoreo {
    border: 5px solid var(--color-principal);
    padding: 20px 30px 5px;
    margin: 30px 40px;
}

.circulo-blanco {
    width: 90px;
    border: 5px solid var(--color-principal);
    border-radius: 50px;
    margin-top: -80px;
}

.desc-title {
    color: var(--color-secundario);
    font-weight: 700;
}

.desc-texto {
    font-size: 22px;
    line-height: 28px;
}

.size-mon {
    height: 240px;
}

/* SmartPanics */

.container-phone {
    background-color: var(--color-background);
    border-radius: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 80px;
}

.phone {
    width: 90%;
    height: 100%;
    margin-left: -150px;
}

.container-smartpanic {
    margin-top: 100px;
    margin-left: -300px;
}

.smartpanic-title {
    font-weight: 600;
    font-size: 50px;
    width: 800px;
    color: var(--color-principal);
}

.smartpanic-text {
    width: 680px;
    margin: 40px 0;
    font-size: 20px;
    line-height: 30px;
}

.smartpanic-button {
    font-size: 20px;
    padding: 10px 40px;
}

@media (max-width: 480px) {
    .container-phone {
        padding-top: 20px;
        padding-bottom: 50px;
        border-radius: 0;
    }
    .container-smartpanic {
        margin: 0;
    }
    .smartpanic-title {
        font-size: 2.3rem;
        width: 100%;
    }
    .smartpanic-text {
        font-size: 20px;
        width: 100%;
    }
    .phone {
        width: 100%;
        height: 100%;
        margin-left: 0;
    }
}

/* Form Input */

.form-label {
    font-weight: 700;
    margin-top: 15px;
    margin-left: 13%;
}

.form-input {
    margin: 5px auto;
    width: 75%;
    padding: 10px;
    border: 2px solid var(--color-secundario-claro);
}

textarea {
    resize: none;
    height: 150px;
}

.btn-submit {
    color: var(--blanco);
    background-color: var(--color-secundario-claro);
    font-weight: 700;
    padding: 10px 20px;
    margin: 15px 12.5%;
}

.title-pasos {
    color: var(--color-principal);
    font-weight: 600;
    text-align: center;
    font-size: 2rem;
    margin-top: 30px;
}

.title-paso {
    color: var(--color-secundario);
    font-weight: bold;
    margin: auto 10px;
}

.text-paso {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}

.pasos {
    background-color: #e3e8fe;
    border-radius: 20px;
    padding-top: 15px;
    padding-left: 15px;
    margin: 20px auto;
}

.pasos img {
    width: 40px;
}

.pasos .paso1 {
    width: 30px;
}

/* Pricing Table */

.pricing-table-area {
    padding: 70px 0;
    background-color: var(--blanco);
}

.section-title {
    margin-bottom: 50px;
}

.section-title h2 {
    font-size: 48px;
    font-weight: 700;
    margin: 0;
    color: var(--color-principal);
}

.single-table {
    padding: 40px;
    background-color: var(--blanco);
    border-radius: 5px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 30px;
    margin: 30px 20px auto;
}

.single-table img {
    width: 90px;
    margin-bottom: 30px;
}

.single-table h4 {
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--color-principal);
}

.single-table h2 {
    font-size: 50px;
    font-weight: 800;
    margin: 30px 0;
    color: var(--color-secundario);
}

.single-table ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.single-table ul li {
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 10px;
}
.single-table a {
    font-size: 15px;
    font-weight: 600;
    border: 2px solid var(--color-secundario);
    border-radius: 5px;
    color: var(--color-secundario);
    padding: 15px 30px;
    margin: 15px 0;
    display: inline-block;
    text-decoration: none;
}
.single-table.popular {
    position: relative;
}
.popular-price {
    position: absolute;
    top: 8.5%;
    left: -55px;
    line-height: 1;
    background-color: var(--color-secundario);
    margin-right: -5px;
    padding: 10px 15px;
    transform: rotate(-90deg);
    color: var(--color-secundario);
}
.popular-price::before {
    width: 0;
    height: 0;
    position: absolute;
    content: "";
    border-right: 0px solid transparent;
    border-left: 10px solid var(--blanco);
    border-bottom: 20px solid transparent;
    border-top: 18px solid transparent;
    top: 0;
    left: 0;
}

.single-table.popular a {
    background-color: var(--color-secundario);
    color: var(--blanco);
}

/* PAGINA NOSOTROS */

.nosotros {
   margin: 6rem auto;
   
}

.nosotros p {
    font-size: 20px;
}

.nosotros-img {
    display: flex;
    
}


.nosotros-img img {
    width: 256px;
    height: 287px;
    margin: auto;
}

.nosotros-img .first-item {
    width: 175px;
    height: 216px;
    margin-left: 110px;
}

.nosotros-img .second-item {
    margin-top: 3rem;
}

.nosotros-img .third-item {
    margin-top: -90px;
    margin-left: 30px;

}

.nosotros h4 {
    margin-top: 50px;
}

.nosotros span {
    font-size: 3rem;
    font-weight: 800;
    color: var(--blanco);
    background-color: #000;
    padding: 20px;
}

@media (max-width: 480px) {

    .nosotros {
        margin: 20px;
    }

    .nosotros-img {
        transform: scale(0.6);
        margin-right: 5rem;

    }

    .nosotros-img .first-item {
        margin-left: -33px;
        margin-top: -50px;
    }


    .nosotros-img .third-item {
        margin-left: -115px;
        margin-top: -150px;
    }

}

.nuestros-clientes {
    margin-bottom: 4rem;
}

.clientes {
    margin: auto;
}

.clientes p {
    width: 80%;
    font-size: 18px;
}
.clientes hr {
    width: 110px;
    margin: 0.5rem 0;
    border-top: 5px solid var(--color-secundario);
    border-radius: 10px;
    opacity: 1;
    margin-left: 25%;
}

.nuestros-clientes img {
    width: 700px;
}

@media (max-width: 480px) {

    .clientes h1 {
        margin-top: 3rem;
        font-size: 2.5rem;
    }

    .nuestros-clientes img {
        width: 100%;
    }

}

/* Proteccion Marcas y Reseñas */

.container-90 {
    width: 90%;
    margin: auto; 
    text-align: center;
    margin-top: 80px;
}

.marcas img {
    width: 250px;
}


@media (max-width: 480px) {

    .marcas img {
        margin-top: 30px;
    }
}

.estrellas {
    margin-top: 100px;
}

.estrellas img {
    width: 90%;
}

.estrellas h2 {
    padding-top: 100px;
    line-height: 50px;
}

.reseñas {
    background-color: var(--color-background);
    padding-top: 200px;
    margin-top: -80px;
}

.reseña {
    background-color: var(--blanco);
    width: 400px;
    height: 465px;
    border-radius: 10px;
    margin: 0 20px 150px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.reseña img {
    width: 150px;
    margin: -60px 110px 0px 110px;
}

.reseña p {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    width: 80%;
    margin: 50px auto 70px;
    transform: scale(1.1);
}

.reseña h3 {
    color: var(--color-principal);
    font-weight: 700;
    text-align: center;
    margin: 15px auto 0;
}

@media (max-width: 480px) {

    .estrellas h2 {
        padding-top: 0;
        margin-top: -100px;
        text-align: right;
    }
    .reseñas {
        padding-top: 90px;
    }

    .reseña {
        margin: 0px auto;
        transform: scale(0.8);
    }
}

/* BANNER FINAL */

.banner-final {
    background-image: url(/public/img/BannerFinal.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.container-banner {
    width: 40%;
    margin: auto;
}

.banner-final h1 {
    color: var(--color-principal);
    font-weight: 600;
    font-size: 3rem;
}

.banner-final p {
    margin: 20px 0;
    text-align: left;
    font-weight: 500;
    font-size: 18.5px;
}

.banner-links {
    margin-left: 30%;
    transform: scale(1.1);
}

@media (max-width: 480px) {

    
    .container-banner {
        width: 95%;
    }
   
    .banner-links {
        margin-left: 15%;
    }
}